.clients {
  background-color: #fafafa;
  margin-top: 176px;
  .description {
    padding-top: 102px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    h1 {
      font-family: Fira Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 50px;
      letter-spacing: -1px;
    }
    .text {
      display: flex;
      flex-direction: column;
      max-width: 445px;
      h5 {
        font-family: Fira Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 4px;
        text-transform: uppercase;
      }
      p {
        margin-top: 17px;
        font-family: Fira Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
        color: $lightblack;
      }
    }
  }
  .allLogo {
    margin-top: 73px;
    display: flex;
    align-items: center;
    gap: 185px;
    @media (max-width: $breakpoint1200) {
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 75px;
    }
    @media (max-width: $breakpoint768) {
      gap: 20px;
    }
    padding-bottom: 137px;
    svg {
      &:first-child {
        path {
          fill: black;
          opacity: 1;
        }
      }
      cursor: pointer;
      transition: all 0.4s ease;
      path {
        fill: rgba(128, 128, 128, 0.473);
      }
    }
  }
}
